<div class="container mt-4">
  <div class="row">
    <h2 class="mb-4">Admin Dashboard</h2>
<div class="col-4 m-3">
<button class="btn btn-primary" (click)="LoadData()">Load</button>
   
</div>
</div>
<div class="row">
    <div class="col-md-3 mb-3">
      <div class="card border-dark">
        <div class="card-header text-center text-bg-dark">
          <h4>Profiles</h4>
        </div>
        <div class="card-body text-center">
          
          <p class="fs-5"><strong>No of Profiles:</strong> {{ profiles.length }}</p>
        </div>
      </div>
    </div>
    <div class="col-md-3 mb-3">
      <div class="card text-center border-dark">
        <div class="card-header text-center text-bg-dark">
          <h4>Employees</h4>
        </div>
        <div class="card-body">
          
          <p class="fs-5"><strong>No of Employees:</strong> {{ employees.length }}</p>
        </div>
      </div>
    </div>
    <div class="col-12">
      <h4>Employee Details</h4>
    <table class="table table-bordered border-warning mb-3">
      <thead>
        <tr>
           
          <th>Name</th>
          <th>Email</th>
          <th>City</th>
          <th>State</th>
          <th>Contact</th>
          <th>Address</th>
          <th>Pincode</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngIf="isLoading1">
          <td colspan="7">
              <div class="loader"></div>
           </td>
          </tr>
        <tr *ngFor="let emp of employees">
          <td>{{ emp.name }}</td>
          <td>{{ emp.emailId }}</td>
          <td>{{ emp.city }}</td>
          <td>{{ emp.state }}</td>
          <td>{{ emp.contactNum }}</td>
          <td>{{emp.address}}</td>
          <td>{{emp.pincode}}</td>
        </tr>
      </tbody>
    </table>
    <h4 class="mt-2 mb-2">Profile Details</h4>
    <table class="table table-bordered border-primary mb-3">
        <thead>
          <tr>
            <th>Name</th>
            <th>Email</th>
            <th>City</th>
            <th>State</th>
            <th>Contact</th>
            <th>Pincode</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngIf="isLoading1">
            <td colspan="6">
                <div class="loader"></div>
             </td>
            </tr>
          <tr  *ngFor="let emp of profiles">
            <td>{{ emp.name }}</td>
            <td>{{ emp.email}}</td>
            <td>{{ emp.city }}</td>
            <td>{{ emp.state }}</td>
            <td>{{ emp.contactNum }}</td>
            <td>{{emp.pincode}}</td>
          </tr>
        </tbody>
      </table>
  </div>
  </div>
  </div>
  <div class="container ms-auto">
  <div class="row">
    <div class="col-12">
        <button class="btn btn-danger" (click)="logout()">Logout</button>
    </div>
  </div>
</div> 