<div class="container-fluid">
    <div class="row d-flex">
       <div class="col-12">
          <ng-container *ngIf="errorMesage">
              <div  class="alert alert-danger" >
                  {{errorMesage}}
              </div></ng-container>
       </div>
    
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    <h1>Employee List</h1>
                   
                </div> 
                <div class="card-body"> 
                  <div class="table-responsive">
                        <table class="table table-bordered">
                            <thead class="text-center">
                                <tr>
                                    <th>Sr No</th>
                                    <th>Name</th>
                                    <th>Contact No.</th>
                                    <th>Email ID</th>
                                    <th>Action</th>
                                </tr>
                            </thead>
                            <tbody class="text-center">
                              
                             <ng-container *ngIf="!showLoader">
                              <ng-container *ngIf="employeeList.length > 0; else noItemsConst">
                                  <tr  *ngFor="let item of employeeList; let i = index; trackBy: trackByEmpId">
                                      <td>{{ i + 1 }}</td>
                                      <td>{{ item.name }}</td>
                                      <td>{{ item.contactNum }}</td>
                                      <td>{{ item.emailId }}</td> 
                                      <td class="text-center"> 
                                          <button class="btn btn-primary me-2" (click)="onEdit(item)">Edit</button> 
                                          <button class="btn btn-danger" (click)="onDelete(item.id)">Delete</button>
                                          
                                      </td>
                                  </tr>
                              </ng-container>
                              
                              <ng-template #noItemsConst>
                                  <tr>
                                      <td colspan="5" class="text-center">
                                          <div class="alert alert-warning">No items available</div>
                                      </td>
                                  </tr>
                              </ng-template>
                             </ng-container>  
                             <ng-container *ngIf="showLoader">
                              <tr >
                              <td colspan="5">
                                  <div class="loader"></div>
                               </td>
                              </tr>
                             </ng-container>
                             
                              
                              
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
  
   
        <div class="col-md-4">
            <div class="card">
                <div class="card-header bg-primary text-white">
                    New Employee
                </div>
                <div class="card-body">
                    <form [formGroup]="employeeForm">
                        <div class="row">
                            <div class="col-12">
                                <label for="Name">Name</label>
                                <input type="text" formControlName="name" class="form-control"/>
                                <small class="text-danger" *ngIf="employeeForm.controls['name'].invalid && employeeForm.controls['name'].touched">
                                  Name is required and must be at least 3 characters.
                              </small>
                            </div>
                            <div class="col-6">
                                <label for="Email ID">Email ID</label>
                                <input type="text" formControlName="emailId" class="form-control"/>
                                <small class="text-danger" *ngIf="employeeForm.controls['emailId'].invalid && employeeForm.controls['emailId'].touched">
                                  Enter a valid email address.
                              </small>
                            </div>
                            <div class="col-6">
                                <label for="Contact Number">Contact Number</label>
                                <input type="text" formControlName="contactNum" class="form-control"/>
                                <small class="text-danger" *ngIf="employeeForm.controls['contactNum'].invalid && employeeForm.controls['contactNum'].touched">
                                  Must be a 10-digit number.
                              </small>
                            </div>
                            <div class="col-6">
                                <label for="City">City</label>
                                <input type="text" formControlName="city" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <label for="State">State</label>
                                <input type="text" formControlName="state" class="form-control"/>
                            </div>
                            <div class="col-6">
                                <label for="Pincode">Pincode</label>
                                <input type="text" formControlName="pincode" class="form-control"/>
                                <small class="text-danger" *ngIf="employeeForm.controls['pincode'].invalid && employeeForm.controls['pincode'].touched">
                                  Must be a 6-digit number.
                              </small>
                            </div>
                            <div class="col-12">
                                <label for="address">Address</label>
                                <textarea formControlName="address" class="form-control"></textarea>
                            </div>
                        </div>
  
                        <div class="row pt-2 justify-content-center">
                            <div class="col-6 text-center">
                                <button class="btn btn-secondary" (click)="onReset()">Reset</button>
                            </div>
                            <div class="col-6 text-center">
                              <button class="btn btn-primary" (click)="loadAllData()">Load</button>
                          </div>
                            <div class="col-6 text-center">
                            <ng-container *ngIf="employeeForm.controls['id'].value === null || employeeForm.controls['id'].value === undefined; else updateappears">
                              <button (click)="onSave()" [disabled]="employeeForm.invalid" class="btn btn-success">Save Employee</button>
                            </ng-container>
                            
                            <ng-template #updateappears>
                              <button (click)="onUpdate()" [disabled]="employeeForm.invalid" class="btn btn-warning">Update Employee</button>
                            </ng-template>
                          </div>
                            
                            
                           
                            
                        </div>
                    </form> 
                </div> 
            </div> 
          
        </div>
       
    </div>
  </div>
  
  
  